In [1]:
import os, sys; sys.path.append('..'); from src import config;
from src.utils.web_scraper import *

## I. Request API

#### 1. Choose recoltable

In [2]:
recoltable = 'chanvre'

#### 2. Get recoltable map positions

In [3]:
df = get_recoltable_map_positions(recoltable)

100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00,  4.89it/s]

In [4]:
df

    x   y    zone  riz
0  18 -23  astrub    1
1  18 -22  astrub    1
2  18 -24  astrub    1
3  18 -25  astrub    1
4  19 -25  astrub    1
5  19 -26  astrub    1
6  20 -25  astrub    1
7  20 -26  astrub    1
8  21 -25  astrub    1
9  21 -26  astrub    1

#### 3. Merge with old coordinates

In [5]:
df_old = pd.read_csv(config.RECOLTABLE_MAP_BLUEPRINT_FILE_PATH)

In [6]:
df_res = merge_to_old(df_old, df)

In [7]:
df_res = df_res.reset_index(drop=True)

In [8]:
df_res

,x,y,zone,wheat,chanvre,seigle,lin,malt,orge,avoine,houblon,riz
0,3.0,-31.0,astrub,0,0,0,0,0,1,1,0,0
1,3.0,-30.0,astrub,1,0,0,0,0,0,0,1,0
2,3.0,-28.0,astrub,0,0,0,0,0,1,0,0,0
3,3.0,-27.0,astrub,0,0,1,1,0,0,0,0,0
4,3.0,-26.0,astrub,1,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
137,10.0,5.0,village,0,0,0,0,0,1,0,0,0
138,10.0,6.0,village,0,0,0,0,0,0,1,0,0
139,10.0,7.0,village,0,0,0,0,1,0,0,0,0
140,10.0,8.0,village,1,0,0,0,0,0,0,0,0
141,11.0,6.0,village,0,0,0,0,0,1,0,0,0

#### 4. Saving data

In [9]:
#df_res.to_csv(config.RECOLTABLE_MAP_BLUEPRINT_FILE_PATH, index=False)